torch>=2.5.1
torchvision>=0.20.1
numpy
Pillow
opencv-python-headless
tqdm
PyYAML
faster-coco-eval>=1.6.7
tensorboard
scipy
calflops
transformers
open_clip_torch
safetensors
datasets
geomloss
einops
openai
